body {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}
.openseadragon-canvas {
  &:focus-visible {
    outline: none;
  }
  canvas {
    &:focus-visible {
      outline: none;
    }
  }
}
